.details__header {
    background-color: var(--color-orange-ligth);
    height: 190px;
    margin-bottom: 15px;
}
.details__img {
    
    width: 200px;
    margin: 0 auto;
    padding: 3px 0;
}
.details__user {
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
    font-weight: 700;
}
