.input {
    border: none;
    width: 180px;
    height: 21px;
    outline: none;
    
}
.btn {
    border: none;
    height: 23px;
    font-weight: 700;
    transition: 0.2s;
    background-color: var(--color-blue);
    color: white;
}
.btn:hover {
    color: white;
    background-color: var(--color-black);
}