.stat {
    
    
   
   list-style: none;
  
}

.stat__name {
    display: flex;
    justify-content: center;
    font-weight: 700;
    text-transform: capitalize;

height: 40px;
align-items: center;
}
.stat__info {
font-size: 1.1rem;
font-weight: 900;
margin-bottom: 15px;
color:rgb(119, 118, 118);

}
