*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card_container {
    background-color: orangered;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}