.App {
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  margin: 0;
}
.card {
  background-color: whitesmoke;
  box-shadow: 1px 1px 5px rgb(75, 70, 70);
  width: 200px;
  border-radius: 0.5rem;
  overflow: hidden;
  
}
.card__img {
  width: 100%;
  
}
.card__name {
  text-align: center;
}
.card__btn {
  width: 40px;
  border-radius: 50%;
  aspect-ratio: 1;
  display: flex;
  color: white;
 align-items: center;
 justify-content: center;
 margin: auto;
 margin-bottom: 1rem;
 cursor: pointer;
 font-size: 1.5rem;
  
}